#titulo{
    text-align: center;
    color: darkviolet;
    margin: auto;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    
}
#lista{
    color: aliceblue;
    background-color: black;
    display: inline-block;
}
li{
    color: whitesmoke;
    background-color: red;
}
p {
    color: royalblue;
    text-align: center;
}